{% comment %}
Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:
1. Head over to https://realfavicongenerator.net/ to add your own favicons.
2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.

The current codes added to support katex, mathjax and mermaid specified in page front matter:
math: katex or mathjax.
mermaid: 5 theme options.  

{% endcomment %}

<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐬</text></svg>">

{% if page.math=="katex" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css"
    integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js"
    integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx"
    crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js"
    integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
            // customised options
            // • auto-render specific keys, e.g.:
            delimiters: [
                { left: '$$', right: '$$', display: true },
                { left: '$', right: '$', display: false },
                { left: '\\(', right: '\\)', display: false },
                { left: '\\[', right: '\\]', display: true }
            ],
            // • rendering keys, e.g.:
            throwOnError: false
        });
    });
</script>
{% endif %}

{% if page.math=="mathjax" %}
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript"></script>
<script type="text/x-mathjax-config">
          MathJax.Hub.Config({
              tex2jax: {
              skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
              inlineMath: [['$','$']]
              }
          });
      </script>

{% endif %}

{% if page.mermaid=="dark" or page.mermaid=="default" or page.mermaid=="neutral" or page.mermaid=="base" %}
<script type="text/javascript" src="https://unpkg.com/mermaid@9.0.1/dist/mermaid.min.js">
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        mermaid.mermaidAPI.initialize({
            'theme': '{{page.mermaid}}'
        });
    });
</script>
{% endif %}

{% if page.mermaid=="forest" %}
<script type="text/javascript" src="https://unpkg.com/mermaid@9.0.1/dist/mermaid.min.js">
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        mermaid.mermaidAPI.initialize({
            'theme': '{{page.mermaid}}',
            'themeVariables': { 'lineColor': 'green' }
        });
    });
</script>

{% endif %}
<style>
kbd{color:#79b8ff;border:1px solid #f6f6f6;border-bottom:2px solid #d7d7d7;padding:2px 4px;background-color:#f0f0f0;border-radius:3px}
</style>
